<%= render 'layouts/nav_bar.html.erb' %>

<div class="home-container"></div>
<div class="custom-order-container">
  <div class="custom-order-title" id="startchange">
    CUSTOM ORDERS
  </div>
  <div class="custom-order-info">
    <span class="custom-desc">If you would like to request pricing information regarding a custom order for products not in our standard inventory, please upload your plans below and specify which products you are interesting in using for your project.
    </span>
    <% flash.each do |name,msg| %>
    <%= content_tag :div, msg, :id => "flash", class: 'flash-message' %>
    <%end%>
    <div class="custom-order-mailer">
      <%= form_for @message,:multipart=>true do |f|%>
      <% if @message.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:" %>
        </h2>

        <ul>
          <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
          <ul></div>
          <% end %>

          <div class="custom-order-top">

                <div class="custom-message-top">
                  Email:</br>
                <%= f.email_field :email, class:'message-field'%>
                </div>
                <div class="custom-message-top">
                  Subject: (Click all that Apply)
                  <div class="checkbox">
                  <span><%= f.check_box(:subject_1, options={}, checked_value="Easy Embeds", unchecked_value=" ") %> Easy Embeds </span>
                  <span><%= f.check_box(:subject_2, options={}, checked_value="Colored Chairs", unchecked_value=" ") %> Colored Chairs </span>
                  <span><%= f.check_box(:subject_3, options={}, checked_value="Standard Studs", unchecked_value=" ") %> Standard Studs </span>
                  <span><%= f.check_box(:subject_4, options={}, checked_value="Tiger Beams", unchecked_value=" ") %> Tiger Beams </span>
                  </div>
                </div>

          </div>
            <div class="custom-order-middle">
              <p>
                Message:
              </p>
              <%= f.text_area :content%>
            </div>



            <div class="custom-order-upload">

              Select File<%= f.file_field :file, :multiple => true %> </br>To Attach Multiple Files Hold CTRL(PC) or COMMAND(MAC) and choose the necessary files.
            </div>

            <div class="custom-order-submit">
              <%= f.submit 'SEND'%>
            </div>



          <% end %>
          <div class="custom-order-other">
            <div class="other-contact">
              <p style="font-size:40px;">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                EMAIL US
              </p>
              <p>
                Feel free to email us at hello@nircon.pro
              </p>
            </div>
            <div class="other-contact">
              <p style="font-size:40px;">
                <i class="fa fa-phone" aria-hidden="true"></i>
                CALL US
              </p>
              <p>
                Feel free to call us at 281.583.7088

              </p>
            </div>
          </div>
        </div>

      </div>

      <%= render 'layouts/footer.html.erb' %>
      <script>
        $('.subject-dropdown').on('click', function () {
          $('.subject-dropdown').css('background-image', 'url(<%=image_url 'up-arrow.png'%>)');
        })
      </script>
