<div class="home-container">

<%= render 'layouts/nav_bar.html.erb' %>
  <% flash.each do |name,msg| %>
  <%= content_tag :div, msg, :id => "flash", class: 'flash-message' %>
  <%end%>

</div>
<div class="custom-order-container">
  <div class="custom-order-title" id="startchange">
    CUSTOM ORDERS
  </div>
  <div class="custom-order-info">
    Maecenas imperdiet lorem nec porta molestie. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris hendrerit, tellus ullamcorper tincidunt suscipit, odio urna cursus orci, a interdum quam nisl vel orci. Mauris
    fringilla lorem a dignissim pharetra. Vestibulum eros nunc, malesuada at tellus sed, condimentum lacinia felis. Proin tempor, dolor non pharetra vestibulum, nunc leo elementum nibh, et imperdiet augue felis vitae nulla. Phasellus ut purus tristique,
    efficitur lacus rutrum, tristique eros. Morbi pharetra varius leo, vitae sollicitudin lectus venenatis id.
  </div>

  <div class="custom-order-mailer">
    <%= form_for @message,:multipart=>true do |f|%>
    <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= "#{pluralize(@message.errors.count, "error")} prohibited this message from being sent:" %>
      </h2>

      <ul>
        <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
        <ul></div>
        <% end %>

        <div class="custom-order-top">
          <div class="custom-order-top-block">
            <p>
              Name:
            </p>
            <%= f.text_field :name, class:"co-top" %>

          </div>
          <div class="custom-order-top-block">
            <p>
              Email:
            </p>
            <%= f.email_field :email, class:'co-top' %>
          </div>

        </div>

        <div class="custom-order-middle">
          <p>
            Subject:
          </p>
          <%= f.text_field :subject, class:"co-middle" %>
        </div>

        <div class="custom-order-bottom">

          <p>
            Message:
          </p>
          <%= f.text_area :content %>
        </div>
        <div class="custom-order-upload">

          Select File<%= f.file_field :file %>
        </div>

        <div class="custom-order-submit">
          <%= f.submit 'Send', class: 'custom-order-send' %>
        </div>
        <% end %>
        <div class="custom-order-other">
          <div class="other-contact">
            <p style="font-size:40px;">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              EMAIL US
            </p>
            <p>
              Feel free to email us at nirconrd@gmail.com
            </p>
          </div>
          <div class="other-contact">
            <p style="font-size:40px;">
              <i class="fa fa-phone" aria-hidden="true"></i>
              CALL US
            </p>
            <p>
              Feel free to call us at 832-483-2131
            </p>
          </div>
        </div>
      </div>

    </div>

<%= render 'layouts/footer.html.erb' %>
