<div class="signin-container">
  <p class="signin-title">
    SIGN IN
  </p>
  <p class="signin-subheading">
    Welcome Back
  </p>
  <%= form_tag do %>
  <ul class="siginin-list">

  <li><%= label_tag :email, nil, class:"signin-label"%></li>
  <li><%= text_field_tag :email,nil,class:'signin-field'%></li>

  <li><%= label_tag :password, nil, class:"signin-label"%></li>
  <li><%= password_field_tag :password,nil,class:'signin-field'%></li>

  <li><%= link_to "Forgot Your Password?", new_password_reset_path, class:"forgot-password" %>

  <li><%= label_tag :remember_me,nil,class:"signin-label" %> <%= check_box_tag :remember_me, 1, params[:remember_me]%></li>
  <li><%= submit_tag "Sign In", class: 'signin-submit' %></li>
  <%end%>

  </ul>

</div>
