<div class="mailer-logo-container">
  <%= image_tag "logo.jpg", class:'mailer-logo' %>

</div>

<div class="receipt-mailer">
  <span>Thank you for your purchase.</span>
  </br>
  </br>

  <article>
    Hello <%= @order.name %> you have successfully placed an order with us.
    A PDF with necessary tables along with sign and seals are on the way.
    We will notify you when your order has been shipped.
    Please find the details of your order below.
  </article>
  <button type="button" name="button">View Your Order</button>
  <span style="border-bottom:1px solid #95a5a6";><%= link_to "Visit Our Store", root_path %></span>
  <span style="margin-top:10px;">Order Summary</span>
  <strong>Total Price: </strong>

  <%= number_to_currency(@order.final_price * 0.01) %>

  <h3>Items</h3>

  <% @order.order_items.each do |order_item| %>

  <%= order_item.name %>

  <%= order_item.quantity %> at <%= order_item.price %>


  <% end %>

</div>
