<div class="sign-up-container">

  <%= render 'layouts/nav_bar.html.erb' %>

  <% flash.each do |name,msg| %>
  <%= content_tag :div, msg, :id => "flash", class: 'flash-message' %>
  <%end%>
  <%= devise_error_messages! %>

<div class="user-title">
SIGN UP
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <div class="user-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="user-field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="user-field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="user-field" style="margin-top:20px;">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
<div class="user-field-option">
  Or<%= render "devise/shared/links" %>

</div>
<div class="please-sign-up">
  JOIN NOW to be able to check your order history for convenience with future orders and get emails about great sales and offers

</div>
</div>

<%= render 'layouts/footer.html.erb' %>
