<div class="checkout-nav">
  <%= link_to root_path do %>[NIRVANA CONSTRUCTION]<%end%>
</div>
<div class="checkout-phone">
  <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
  (832)-483-2131
</div>
<div class="checkout-title">
  CHECKOUT
</div>
<div class="shipping-container">
  <div class="shipping" style="margin-right:15px;">
    <div class="summary-title">
      1. SHIPPING
    </div>
    <div class="shipping-1">

      <div class="shipping-title">
        2. PAYMENT
      </div>

      <script type="text/javascript" src="https://js.stripe.com/v2/"></script>

      <script type="text/javascript">
        Stripe.setPublishableKey('pk_test_UQ02f5WGJ1E2k2sUXLJcqn4C');
      </script>

      <div class="shipping-content">
        <%= form_tag process_payment_path, method: :post, id: "payment-form" do %>
        <span class="payment-errors"></span>
        <div class="section">
          <div class="shipping-label">
            Name<span>*</span>
          </div>
          <%= text_field_tag :name, "", class: "name" %>
        </div>
        <div class="section">
          <div class="shipping-label">
            Card Number<span>*</span>
          </div>
          <%= text_field_tag :credit_card_number, "", class: "card-number" %>
        </div>
        <div class="section">
          <div class="shipping-label">
            Expiry Date<span>*</span>
          </div>
          <%= select_month Date.today, {}, class: "card-expiry-month" %>  <%= select_year Date.today, {start_year: Date.today.year, end_year: Date.today.year+20}, class: "card-expiry-year" %>
        </div>
        <div class="section">
          <div class="shipping-label">
            Security Code<span>*</span>
          </div>
          <%= number_field_tag :cvc, "",class: "card-cvc"%>
        </div>
        <div class="section">
          <div class="shipping-label">
            Token<span>*</span>
          </div>
          <%= text_field_tag :token, "", class: "card-token" %>
        </div>
        <div class="summary-title">
          BILLING
        </div>
        <div class="section">
          <div class="shipping-label">
            Address Line 1<span>*</span>
          </div>
          <%= text_field_tag :address_line1, "", class: "card-address" %>
        </div>

        <div class="section">
          <div class="shipping-label">
            City<span>*</span>
          </div>
          <%= text_field_tag :address_city, "", class: "card-city" %>
        </div>

        <div class="section">
          <div class="shipping-label">
            State<span>*</span>
          </div>
            <%= select_tag(:address_state, options_for_select(us_states, "TX"),{ :class => 'card-state' }) %>
        </div>
        <div class="section">
          <div class="shipping-label">
            Zip<span>*</span>
          </div>
          <%= text_field_tag :address_zip, "", class: "card-zip" %>
        </div>


        <%= submit_tag 'PURCHASE', class:'next-step' %>
        <div class="required">
          <span>*</span>
          Required Field

        </div>
        <%end%>
      </div>

    </div>

    <div class="summary-title" style="margin-top:20px;">
      3. RECEIPT
    </div>

  </div>
  <div class="summary-main-container">

    <div class="summary-checkout">
      <div class="summary-title">
        SUMMARY
      </div>
      <div class="summary-content">
        <div class="piece">
          <div class="item">
            SUBTOTAL
          </div>
          <div class="item-2">
            <%= number_to_currency(@order.subtotal) %>
          </div>
        </div>
        <div class="piece">
          <div class="item">
            ESTIMATED SHIPPING
          </div>
          <div class="item-2">
            <%= number_to_currency(@order.shipping_cost)%>
          </div>
        </div>
        <div class="piece">
          <div class="item" style="color:#7f8c8d">
            TAX
          </div>
          <div class="item-2" style="color:#7f8c8d">
            <% if @order.address_state = "TX" %>
            <%= number_to_currency(@order.total_tax) %>
            <%else%>
            TAX: $0.00
            <%end%>
          </div>
        </div>
        <div class="piece-total">
          <div class="item">
            TOTAL
          </div>
          <div class="item-total">
            <% if @order.address_state = "TX" %>
            <%= number_to_currency(@order.total_price_texas) %>
            <%else%>
            <%= number_to_currency(@order.total_price) %>
            <%end%>
          </div>
        </div>
      </div>

    </div>

    <div class="current-cart">
      <div class="summary-title" style="margin-top:20px;margin-bottom:40px;">
        IN YOUR CART
      </div>
      <div style="display:flex;">
        <% @order.order_items.each do |order_item| %>

        <%= image_tag "#{order_item.img_file}.jpg", {:class => "checkout_picture"}%>
        <div class="checkout-item-info">
          <span style="font-family:San Francisco"><%= order_item.name %></span>

          <span>Quantity: <%= order_item.quantity%></span>

          <span>Item Price: <%= number_to_currency(order_item.price.to_i) %></span>

          <span style="color:#F76122; font-family:San Francisco">Total Price: <%= number_to_currency order_item.subtotal_price %></span>
        </div>
      </div>


    </div>
<%end%>
  </div>

</div>

<%= render "layouts/alt_footer.html.erb" %>
