<div class="checkout-container" style="margin-bottom:16%;">


  <div class="bag-container" style="margin-top:100px;padding-left:0px; margin-left:60px;">
    <div class="bag">
      <div class="bag-title">
        YOUR ITEMS
      </div>

      <table>
        <thead>
          <tr>
            <th>
              Item
            </th>
            <th>
              Name
            </th>
            <th>
              Quantity
            </th>

            <th>
              Per Item Price
            </th>

            <th>
              Shipping Per Item
            </th>
            <th>
              Total Shipping Cost
            </th>
            <th>
              Subtotal
            </th>
            <th>
              Total Price
            </th>
          </tr>
        </thead>

        <tbody>
          <% @order.order_items.each do |order_item| %>

          <tr>
            <td>
              <%= image_tag "#{order_item.img_file}.jpg", {:class => "cart_picture"}%>
            </td>
            <td>
              <%= order_item.name %>
            </td>
            <td>
              <%= order_item.quantity %>
            </td>

            <td>
              <%= number_to_currency(order_item.price.to_i) %>
            </td>
            <td>
              <%= number_to_currency(order_item.shipping_cost.to_i) %>
            </td>
            <td>
              <%= number_to_currency(order_item.total_shipping.to_i) %>
            </td>
            <td>
              <%= number_to_currency(order_item.subtotal_price.to_i) %>
            </td>
            <td>
              <%= number_to_currency(order_item.total_price.to_i) %>
            </td>

          </tr>

          <% end %>

        </tbody>
      </table>
    </div>
  </div>

  <div class="bag-title" style="width:20%;margin-left:60px;margin-top:50px;">CHECKOUT</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>

<script type="text/javascript">
  Stripe.setPublishableKey('pk_test_UQ02f5WGJ1E2k2sUXLJcqn4C');
</script>

  <%= form_tag process_payment_path, method: :post, id: "payment-form" do %>

    <span class="payment-errors"></span>

    <div>Name <input type="text" size="20" data-stripe="name"> </div>
    <div>Address <input type="text" size="20" data-stripe="billing_address_line_1">

    <div class="">
      <%= label_tag :credit_card_number %>
      <%= text_field_tag :credit_card_number, "", class: "card-number" %>
    </div>

    <div class="">
      <%= label_tag :expiration_month %>
      <%= select_month Date.today, {}, class: "card-expiry-month" %>
    </div>

    <div class="">
      <%= label_tag :expiration_year %>
      <%= select_year Date.today, {start_year: Date.today.year, end_year: Date.today.year+20}, class: "card-expiry-year" %>
    </div>

    <div class="">
      <%= label_tag :cvc %>
      <%= number_field_tag :cvc, "",class: "card-cvc"%>
    </div>

    <div class="">
      <%= label_tag :token %>
      <%= text_field_tag :token, "", class: "card-token" %>
    </div>

    <%= submit_tag 'PURCHASE', class: :btn %>

  <% end %>
<%= render '/layouts/alt_footer.html.erb'%>
