<%= render '/products/alt_nav.html.erb'%>
<div class="receipt-container">

<p class="receipt-header">RECEIPT #<%= @order.id %></p>

<div class="thank-you">
  THANK YOU FOR YOUR PURCHASE
</div>




</div>
<div class="bag-container" style="margin-top:100px;padding-left:0px; margin-left:60px;">
  <div class="bag">
    <div class="receipt-line">Purchaser: <%= @order.user.email %></div>
    <div class="receipt-line">Purchase Date : <%= local_time(@order.purchased_at) %></div>
    <div class="receipt-line">Order ID : <%= @order.id %></div>
    <div class="bag-title">
      YOUR PURCHASE
    </div>

    <table>
      <thead>
        <tr>
          <th>
            Item
          </th>
          <th>
            Name
          </th>
          <th>
            Quantity
          </th>

          <th>
            Per Item Price
          </th>

          <th>
            Shipping Per Item
          </th>
          <th>
            Total Shipping Cost
          </th>
          <th>
            Subtotal
          </th>
          <th>
            Total Price
          </th>
        </tr>
      </thead>

      <tbody>
        <% @order.order_items.each do |order_item| %>

        <tr>
          <td>
            <%= image_tag "#{order_item.img_file}.jpg", {:class => "cart_picture"}%>
          </td>
          <td>
            <%= order_item.name %>
          </td>
          <td>
            <%= order_item.quantity %>
          </td>

          <td>
            <%= number_to_currency(order_item.price.to_i) %>
          </td>
          <td>
            <%= number_to_currency(order_item.shipping_cost.to_i) %>
          </td>
          <td>
            <%= number_to_currency(order_item.total_shipping.to_i) %>
          </td>
          <td>
            <%= number_to_currency(order_item.subtotal_price.to_i) %>
          </td>
          <td>
            <%= number_to_currency(order_item.total_price.to_i) %>
          </td>

        </tr>

        <% end %>

      </tbody>
    </table>
  </div>
</div>
</div>

<%= render '/layouts/alt_footer.html.erb' %>
