<div class="checkout-nav">
  <div class="nav-logo">
  <%= link_to root_path do %><%= image_tag "logo.jpg"%><%end%>
  </div>

</div>
<div class="checkout-phone">
  <i class="fa fa-mobile fa-2x" aria-hidden="true"></i>
  (281) 583 7088
</div>
<div class="checkout-title">
  CHECKOUT
</div>
<% flash.each do |name,msg| %>
<%= content_tag :div, msg, :id => "flash", class: 'flash-message' %>
<%end%>
<div class="shipping-container">
  <div class="shipping">

    <div class="shipping-1">

      <div class="shipping-title">
        1. SHIPPING
      </div>

      <div class="shipping-content">
        <%= form_for :orders, :url=> process_shipping_path, method: :post do |f| %>
        <div class="section">
          <div class="shipping-label">
            Email<span>*</span>
          </div>
          <%= f.text_field :email, class:'shipping-param' %>
        </div>
        <div class="section">
          <div class="shipping-label">
            Address<span>*</span>
          </div>
          <%= f.text_field :address_line1, class:'shipping-param' %>
        </div>
        <div class="section">
          <div class="shipping-label">
            City<span>*</span>
          </div>
          <%= f.text_field :address_city, class:'shipping-param' %>
        </div>
        <div class="section">
          <div class="shipping-label">
            State<span>*</span>
          </div>
          <%= f.select(:address_state, options_for_select(us_states, "TX"))%>
        </div>
        <div class="section">
          <div class="shipping-label">
            ZIP Code<span>*</span>
          </div>
          <%= f.text_field :address_zip, class:"shipping-param" %>
        </div>
        <div class="section">
          <div class="shipping-label">
            Phone Number<span>*</span>
          </div>
          <%= f.text_field :phone_number, class:"shipping-param" %>
        </div>

        <%= f.submit "NEXT STEP", class:'next-step'%>
        <div class="required">
          <span>*</span>
          Required Field
        </div>
        <%end%>
      </div>

    </div>

    <div class="summary-title" style="margin-top:20px;">
      2. PAYMENT
    </div>

    <div class="summary-title" style="margin-top:20px;">
      3. RECEIPT
    </div>

  </div>
  <div class="summary-main-container">

    <div class="summary-checkout">
      <div class="summary-title">
        SUMMARY
      </div>
      <div class="summary-content">
        <div class="piece">
          <div class="item">
            SUBTOTAL
          </div>
          <div class="item-2">
            <%= number_to_currency(@order.subtotal) %>
          </div>
        </div>
        <div class="piece">
          <div class="item">
            ESTIMATED SHIPPING
          </div>
          <div class="item-2">
            $0.00 (TBD)
          </div>
        </div>
        <div class="piece">
          <div class="item">
            TAX
          </div>
          <div class="item-2">
          $0.00
          </div>
        </div>
        <div class="piece-total">
          <div class="item">
            TOTAL
          </div>
          <div class="item-total">
            <%= number_to_currency(@order.subtotal) %>
          </div>
        </div>
      </div>

    </div>

    <div class="current-cart">
      <div class="summary-title" style="margin-top:20px;margin-bottom:40px;">
        IN YOUR CART
      </div>

          <% @order.order_items.each do |order_item| %>
          <div class="cc-container">
        <%= image_tag "#{order_item.img_file}.jpg", {:class => "checkout_picture"}%>
        <div class="checkout-item-info">
          <span style="font-family: 'Open Sans', sans-serif; font-weight:400;"><%= order_item.name %></span>

          <span>Quantity: <%= order_item.quantity%></span>

          <span>Item Price: <%= number_to_currency(order_item.price) %></span>

          <span style="font-family: 'Open Sans', sans-serif; font-weight:400;">Total Price: <%= number_to_currency order_item.item_price %></span>
        </div>
      </div>


    </div>
<%end%>
  </div>

</div>

<%= render "layouts/footer.html.erb" %>
