<div class="checkout-container" style="margin-bottom:16%;">

  <%= render '/products/alt_nav.html.erb'%>


  <div class="bag-container" style="margin-top:100px;padding-left:0px; margin-left:60px;">
    <div class="bag">
      <div class="bag-title">
        YOUR ITEMS
      </div>

      <table>
        <thead>
          <tr>
            <th>
              Item
            </th>
            <th>
              Name
            </th>
            <th>
              Quantity
            </th>

            <th>
              Per Item Price
            </th>

            <th>
              Shipping Per Item
            </th>
            <th>
              Total Shipping Cost
            </th>
            <th>
              Subtotal
            </th>
            <th>
              Total Price
            </th>
          </tr>
        </thead>

        <tbody>
          <% @order.order_items.each do |order_item| %>

          <tr>
            <td>
              <%= image_tag "#{order_item.img_file}.jpg", {:class => "cart_picture"}%>
            </td>
            <td>
              <%= order_item.name %>
            </td>
            <td>
              <%= order_item.quantity %>
            </td>

            <td>
              <%= number_to_currency(order_item.price.to_i) %>
            </td>
            <td>
              <%= number_to_currency(order_item.shipping_cost.to_i) %>
            </td>
            <td>
              <%= number_to_currency(order_item.total_shipping.to_i) %>
            </td>
            <td>
              <%= number_to_currency(order_item.subtotal_price.to_i) %>
            </td>
            <td>
              <%= number_to_currency(order_item.total_price.to_i) %>
            </td>

          </tr>

          <% end %>

        </tbody>
      </table>
    </div>
  </div>
  <div class="bag-title" style="width:20%;margin-left:60px;margin-top:50px;">CHECKOUT</div>
<%= form_tag process_payment_path, method: :post, id: 'payment-form' do %>
  <script src="https://checkout.stripe.com/checkout.js"
  class="customButton"
  data-key="pk_test_UQ02f5WGJ1E2k2sUXLJcqn4C"
  ></script>
  <%= hidden_field_tag 'stripeToken' %>
  <%= hidden_field_tag 'stripeEmail' %>
  <button id="customButton" class="btn btn-large btn-primary">Pay with Card</button>

  <script>
    var handler = StripeCheckout.configure({
      key: '<%= ENV["pk_test_UQ02f5WGJ1E2k2sUXLJcqn4C"] %>',
      token: function(token, args) {
        document.getElementById("stripeToken").value = token.id;
        document.getElementById("stripeEmail").value = token.email;
        document.getElementById("payment-Form").submit();
      }
    });

    document.getElementById('customButton').addEventListener('click', function(e) {
      // Open Checkout with further options
      handler.open({
        name: 'Nirvana Construction',
        amount: <%=@order.total_price_in_cents%>,
        shippingAddress: true,
        description: '<%=@order.description%>'
      });
      e.preventDefault();
    });
  </script>
<% end %>
<%= render '/layouts/alt_footer.html.erb'%>
