<div class="home-container">

  <div class="automatic-slider">
    <ul>
      <li><%= image_tag 'home-slider-3.jpg'%></li>
      <li><%= image_tag 'home-slider-1.jpg'%></li>
      <li><%=image_tag 'home-slider-2.jpg'%></li>
    </ul>
  </div>

  <%= render "layouts/nav_bar.html.erb" %>

  <% flash.each do |name,msg| %>
  <%= content_tag :div, msg, :id => "flash", class: 'flash-message' %>
  <%end%>
  <p class="home-title" id="startchange">
    WELCOME TO NIRVANA CONSTRUCTION
  </br>
  <%= link_to "SHOP NOW" ,products_path, class:"title-about" %>
</p>

</div>

<div class="business-facts">

<div class="grid">

  <div class="layer">
    <div class="layer-icon">
      <i class="fa fa-check fa-lg" aria-hidden="true"></i>

    </div>
    <div class="layer-content">
      <div class="layer-title">
        STANDARDIZED
      </div>
      <div class="layer-text">
        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip minim veniam ex ea commodo consequat.
      </div>
    </div>

  </div>
  <div class="layer">
    <div class="layer-icon">
      <i class="fa fa-bus fa-lg" aria-hidden="true"></i>

    </div>
    <div class="layer-content">
      <div class="layer-title">
        DIRECT SHIPPING
      </div>
      <div class="layer-text">
        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip minim veniam ex ea commodo consequat.
      </div>
    </div>

  </div>
</div>

<div class="grid">

  <div class="layer">
    <div class="layer-icon">
      <i class="fa fa-book fa-lg" aria-hidden="true"></i>

    </div>
    <div class="layer-content">
      <div class="layer-title">
        DOCUMENTED
      </div>
      <div class="layer-text">
        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip minim veniam ex ea commodo consequat.
      </div>
    </div>

  </div>
  <div class="layer">
    <div class="layer-icon">
      <i class="fa fa-building-o fa-lg" aria-hidden="true"></i>

    </div>
    <div class="layer-content">
      <div class="layer-title">
        CERTIFIED
      </div>
      <div class="layer-text">
        Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip minim veniam ex ea commodo consequat.
      </div>
    </div>

  </div>
</div>

</div>

<div class="about-container">

<div class="about">
  <A NAME="aboutus"></A>
  <div class="about-title">
    ABOUT US
  </div>
  <div class="about-info">
    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
  </br>
  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia
</div>

<%= link_to "SHOP NOW", products_path, class:"shop-now" %>

</div>
<%= image_tag "handshake.jpg", class:"about-image"%>
</div>

<div class="contact-container">
  <div class="c-section">
    <div class="c-icon">
      <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
    </div>
    <div class="c-title">
      ADDRESS
    </div>
    <div class="c-content">
      14025 West Road, Houston TX, 77095
    </div>
  </div>
  <div class="c-section">
    <div class="c-icon">
      <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
    </div>
    <div class="c-title">
      PHONE
    </div>
    <div class="c-content">
      (832) 277-6945
    </div>
  </div>
  <div class="c-section">
    <div class="c-icon">
      <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
    </div>
    <div class="c-title">
      E-MAIL
    </div>
    <div class="c-content">
      nirconrd@gmail.com</br>
      zakinircon@gmail.com
    </div>
  </div>
</div>

<%= render "layouts/footer.html.erb" %>

<script>

jQuery(document).ready(function ($) {
  $('.automatic-slider').unslider({autoplay: true, arrows: false});
});
</script>
