<div class="home-container">

  <div class="automatic-slider">
    <ul>
      <li><%= image_tag 'home-slider-3.jpg'%></li>
      <li><%= image_tag 'home-slider-1.jpg'%></li>
      <li><%=image_tag 'home-slider-2.jpg'%></li>
    </ul>
  </div>

  <%= render "layouts/nav_bar.html.erb" %>

  <% flash.each do |name,msg| %>
  <%= content_tag :div, msg, :id => "flash", class: 'flash-message' %>
  <%end%>
  <p class="home-title" id="startchange">
    WELCOME TO
  </br>
  NIRVANA CONSTRUCTION PRODUCTS
</br>
</br>
<%= link_to "SHOP NOW" ,products_path, class:"title-about" %>
</p>

</div>

<div class="business-facts">

<div class="grid">

<div class="layer">
<div class="layer-icon">
  <i class="fa fa-bus fa-lg" aria-hidden="true"></i>

</div>
<div class="layer-content">
  <div class="layer-title">
    DIRECT SHIPPING
  </div>
  <div class="layer-text">
    Have your products shipped securely with tracking information wherever you need them - including construction sites.
    <%= link_to "More Info", shipping_info_path %></div>
</div>

</div>
<div class="layer">
<div class="layer-icon">
  <i class="fa fa-phone fa-lg" aria-hidden="true"></i>

</div>
<div class="layer-content">
  <div class="layer-title">
    CUSTOMER SERVICE
  </div>
  <div class="layer-text">
All sales are backed by the Nirvana Promise - we don’t stop working until you are satisfied. Engineering and construction support is always <%= link_to "available via phone or e-mail.", contact_path %>
  </div>
</div>

</div>
</div>

<div class="grid">

<div class="layer">
<div class="layer-icon">
  <i class="fa fa-check fa-lg" aria-hidden="true"></i>

</div>
<div class="layer-content">
  <div class="layer-title">
    STANDARDIZED
  </div>
  <div class="layer-text">
    All items sold by Nirvana Construction Products are standardized to ensure consistency from one order to the next.
  </div>
</div>

</div>
<div class="layer">
<div class="layer-icon">
  <i class="fa fa-building-o fa-lg" aria-hidden="true"></i>

</div>
<div class="layer-content">
  <div class="layer-title">
  ENGINEERING SUPPORT
  </div>
  <div class="layer-text">
 All products come with summarized load tables and shop drawings sealed by a P.E. in the state of construction.   </div>
</div>

</div>
</div>

</div>
<A NAME="codeword"></A>

<div class="about">
  <div class="about-title">
    ABOUT US
  </div>
  <div class="about-info">
    Nirvana Construction Products was founded with the goal of becoming the leading online platform for standardized construction products. We realized that the current process of shop drawings sent around for approvals needed to be simplified. Nirvana
    Construction Products is the only place online where customers can purchase products ready to use in construction. All of our products come with load calculations and shop drawings with a Professional Engineer’s seal for the state in which the
    product will be used in. All sales are also backed by the Nirvana promise - we don’t stop working until you are satisfied. Engineering and Construction support is always available via phone or e-mail. Finally, contractors can be at ease.
  </div>
</div>
<div class="shop-container">
  <%= link_to products_path do%>
  SHOP NOW
  <%end%>
</div>

<div class="contact-container">
  <div class="c-section">
    <div class="c-icon">
      <i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
    </div>
    <div class="c-title">
      ADDRESS
    </div>
    <div class="c-content">
      14025 West Road, Houston TX, 77041
    </div>
  </div>
  <div class="c-section">
    <div class="c-icon">
      <i class="fa fa-phone fa-2x" aria-hidden="true"></i>
    </div>
    <div class="c-title">
      PHONE
    </div>
    <div class="c-content">
      (281) 583 7088
    </div>
  </div>
  <div class="c-section">
    <div class="c-icon">
      <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
    </div>
    <div class="c-title">
      E-MAIL
    </div>
    <div class="c-content">
      nirconrd@gmail.com
    </div>
  </div>
</div>
<%= render "layouts/footer.html.erb" %>

<script>

jQuery(document).ready(function ($) {
  $('.automatic-slider').unslider({autoplay: true, arrows: false});
});
</script>
