<%= render 'layouts/nav_bar.html.erb' %>

<div class="orders-table">
  <div class="orders-title">Order History</div>


<table>
  <thead>
    <tr>
      <th>
        Order ID
      </th>
      <th>
        Total Price
      </th>
      <th>
        View Details
      </th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td>
          <%= order.id %>
        </td>

        <td class="accounting">
          <%= number_to_currency(order.final_price * 0.01) %>
        </td>
        <td>
          <%= link_to "View", order_path(id: order.id), class:'order-id-link' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

</div>
<%= render 'layouts/footer.html.erb' %>
