<%= render '/layouts/alt_nav.html.erb'%>
<div class="orders-view-container">


<div class="orders-title">Order <%= @order.id %></div>


<ul>
  <li>



    <strong>Purchase Date</strong>: <%= local_time(@order.purchased_at) %>
  </li>

  <li>
    <strong>Purchaser:</strong>: <%= @order.email %>
  </li>

  <li>
    <strong>Total Price: </strong>

    <%= number_to_currency(@order.final_price * 0.01) %>

  </li>
</ul>
</div>


<div class="orders-table" style="margin-left:10%; margin-right:10%;">
  <div class="orders-items">Items</div>

<table>
  <thead>
    <tr>
      <th>
        Item
      </th>
      <th>
        Name
      </th>
      <th>
        Quantity
      </th>

      <th>
        Per Item Price
      </th>


      <th>
        Total Shipping Cost
      </th>

      <th>
        Total Price
      </th>
    </tr>
  </thead>

  <tbody>
    <% @order.order_items.each do |order_item| %>

    <tr>
      <td>
        <%= image_tag "#{order_item.img_file}.jpg", {:class => "cart_picture"}%>
      </td>
      <td>
        <%= order_item.name %>
      </td>
      <td>
        <%= order_item.quantity %>
      </td>

      <td>
        <%= number_to_currency(order_item.price.to_i) %>
      </td>

      <% end %>
      <td>
        <%= number_to_currency(@order.total_shipping) %>
      </td>
      <td>
        <%= number_to_currency(@order.final_price * 0.01) %>
      </td>
    </tr>



  </tbody>
</table>

</div>

<%= render 'layouts/footer.html.erb' %>
