<div class="cart-container">

  <div class="nav" id="navbar">
    <p class="nav-logo-embeds">
      [NIRVANA CON]
    </p>
    <div class="nav-items-embeds">
      <%= link_to "HOME",root_path, class:'nav-item-a'%>
      <div class="dropdown">
        <button class="dropbtn" id="embed-dropbtn">PRODUCTS
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
          <%= link_to "EASY EMBEDS", products_path%>
          <%= link_to "STANDARD STAIRS", stairs_path%>
          <%= link_to "TURTLE TRACK / BEAMS", beams_path%>
        </div>

      </div>
      <%= link_to "CUSTOM ORDER", new_message_path, class:'custom-order' %>

      <% if user_signed_in? %>
      <div class="dropdown">
        <button class="dropbtn" id="embed-dropbtn"><%= current_user.email %>
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </button>
        <div class="dropdown-content" id="myDropdown">
          <%= link_to orders_path do %>
          <i class="fa fa-list-alt" aria-hidden="true"></i>
          ORDERS
          <%end%>
          <%= link_to destroy_user_session_path, :method => "delete" do %>
          <i class="fa fa-times-circle-o" aria-hidden="true"></i>
          SIGN OUT
          <%end %>
        </div>
      </div>
      <%= link_to cart_path do %>
      <i class="fa fa-shopping-bag" aria-hidden="true" id='cart-nav' style="color:#222;"></i>
      <%end%>
      <%else%>
      <%= link_to "SIGN UP", new_user_registration_path, class:'nav-item-a' %>
      <%= link_to "SIGN IN", new_user_session_path, class:'nav-item-a' %>
      <%end%>

    </div>
  </div>
  <% flash.each do |name,msg| %>
  <%= content_tag :div, msg, :id => "flash", class: 'flash-message' %>
  <%end%>
  <div class="bag-container">
    <div class="bag">
      <div class="bag-title">
        SHOPPING BAG
      </div>

      <table>
        <thead>
          <tr>
            <th>
              Product
            </th>
            <th>
              Quantity
            </th>
            <th>
              Shipping Cost Per
            </th>
            <th>
              Item Price
            </th>
            <th>
              Total Price
            </th>
            <th>
              Remove
            </th>
          </tr>
        </thead>

        <tbody>
          <% @order.order_items.each do |order_item| %>

          <tr>
            <td>
              <%= image_tag "#{order_item.img_file}.jpg", {:class => "cart_picture"}%>
            </td>
            <td>
              <%= order_item.quantity %>
            </td>
            <td>
              <%= number_to_currency(order_item.shipping_cost.to_i) %>
            </td>
            <td>
              <%= number_to_currency(order_item.price.to_i) %>
            </td>
            <td>
              <%= number_to_currency order_item.total_price %>
            </td>
            <td>
              <%= link_to 'Remove Item', remove_from_cart_path(product_id: order_item.product_id), method: :delete, class: "remove-cart" %>
            </td>
          </tr>

          <% end %>

        </tbody>
      </table>


    </div>

    <div class="summary">
      <div class="bag-title">
        ORDER SUMMARY
      </div>
      <div class="summary-values">
        Subtotal:<%=number_to_currency(@order.subtotal.to_i) %></br>
      </div>

      <div class="summary-values">
        Shipping: <%= number_to_currency(@order.total_shipping.to_i) %></br>

      </div>
      <div class="summary-values">
        Estimated Tax: $0.00

      </div>
      <div class="summary-values-black">
        Total: <%= number_to_currency(@order.total_price.to_i) %>
      </div>
      <% if @order.total_price > 0 %>
      <%= link_to 'CHECKOUT', checkout_path, class: 'checkout-btn' %>
      <%end%>
    </div>
  </div>



</div>
