<div class="sign-in-container">

  <%= render 'layouts/nav_bar.html.erb' %>

  <% flash.each do |name,msg| %>
  <%= content_tag :div, msg, :id => "flash", class: 'flash-message' %>
  <%end%>



<div class="user-title">SIGN IN </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="user-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="user-field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="user-checkbox">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="user-field-submit">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<div class="user-field-option">
  Or <%= render "users/shared/links" %>
</div>

</div>

<%= render 'layouts/footer.html.erb' %>
