<div class="nav" id="navbar">
  <p class="nav-logo">
    <%= link_to root_path do%>[NIRVANA CON] <%end%>
  </p>
  <div class="nav-items">
    <%= link_to "Easy Embeds", products_path, class:'nav-item-a'%>
    <%= link_to "Colored Chairs", chairs_path, class:'nav-item-a'%>
    <%= link_to "Tiger Tracks", beams_path, class:'nav-item-a'%>

    <%= link_to "Plan Upload/Custom Order", new_message_path, class:'custom-order' %>
    <%= link_to "Sign In", new_user_session_path, class:'nav-item-a' %>

    <%= link_to cart_path do %>
    <i class="fa fa-shopping-bag" aria-hidden="true" id='cart-nav'></i>
    <%end%>
  </div>

  </div>
</div>
