<%= render '/layouts/nav_bar.html.erb'%>
<% flash.each do |name,msg| %>
<%= content_tag :div, msg, :id => "flash", class: 'flash-message' %>
<%end%>
<div class="product-view">
  <%= image_tag "#{@product.img_file}.png", {:class => "chairs-pic"}%>
<div class="product-view-info">
  <p class="product-price"><%= number_to_currency(@product.price)%></p>

  <p class="product-name-sub">
    (PRICE PER 500 CHAIRS)
  </p>
  <div class="product-info">
    <p class="product-dimensions-head">
      Description
    </p>
    <p class="product-dimensions">
      <span style="font-size:18px"><%=@product.name%></span>
</br>
<div class="" style="text-align:justify;">
</br>
  World's Most Intelligent Concrete Construction Chairs. Colored Chairs are coded by size to increase construction accuracy and assist with inspections and verifications.
   This <%= @product.info_1 %> Chair suspends rebar or PT cables <%= @product.info_2%> in the concrete slab depending on which direction the chair is placed.

</div>
</br>
</p>

    </div>
    <%= form_for :order_item, :url => add_to_cart_path(product_id: @product.id) do |f| %>
    <p class="quantity">
    <%= f.number_field :quantity, min: 1, placeholder: "QTY", class:"quantity-dropdown"%>
    <%= f.submit "ADD TO CART", class:"add-to-cart"%></p>
    <%end%>
    </div>
    </div>

<%= render '/layouts/footer.html.erb'%>
