<%= render '/layouts/nav_bar.html.erb'%>
<div class="view-header">
  <%= image_tag "slab.jpg" %>
  <div class="view-title">
    <%= @product.name %>
  </div>
</div>
<% if @product.stud_count = "nil" %>
<%= @product.stud_count = "" %>
<%end%>

<% if @product.total_weight = "nil" %>
<%= @product.total_weight = "" %>
<%end%>
<% flash.each do |name,msg| %>
<%= content_tag :div, msg, :id => "flash", class: 'flash-message' %>
<%end%>
<div class="product-view">
  <%= image_tag "#{@product.img_file}.jpg", {:class => "product-view-picture"}%>
<div class="product-view-info">
  <p class="product-price"><%= number_to_currency(@product.price)%></p>

  <p class="product-name-sub">
    STANDARDIZED EMBED ITEM
  </p>
  <div class="product-info">
    <p class="product-dimensions-head">
      Description
    </p>
    <p class="product-dimensions">
      <%=@product.name%>(L x W x H)
</br>
<%= @product.stud_count%></br>
 <%= @product.stud_dimensions %></br>
 <%= @product.total_weight %>
</br>
Once payment is received, a PDF with shop drawings and load calculations signed and sealed by a P.E. in your state will be e-mailed to you.
</p>

    </div>
    <%= form_for :order_item, :url => add_to_cart_path(product_id: @product.id) do |f| %>
    <p class="quantity">
    <%= f.number_field :quantity, min: 1, placeholder: "QTY", class:"quantity-dropdown"%>
    <%= f.submit "ADD TO CART", class:"add-to-cart"%></p>
    <%end%>
    </div>
    </div>
<div class="feature-container">
  <div class="feature-products">
    CHECK OUT OUR EMBED STABILIZER KITS
  </div>

  <div class="extras-container">
    <div class="e-block">
      <a href="/products/embeds/21">
        <%= image_tag 'side.jpg', class:'e-image' %>
        <div class="e-description">
          <div class="e-name">
            Side Condition </br><span style="font-size:15px;">Embed Stabilizer Kit</span>
          </div>
          <div class="e-price">
            $35.00
          </div>
        </div>
      </a>
    </div>
    <div class="e-block">
      <a href="/products/embeds/22">
        <%= image_tag 'corner.jpg', class:'e-image' %>
        <div class="e-description">
          <div class="e-name">
            Corner Condition</br>
            <span style="font-size:15px;">Embed Stabilizer Kit</span>
          </div>
          <div class="e-price">
            $30.00
          </div>
        </div>
      </a>
    </div>

<div class="e-block">
  <a href="/products/embeds/23">
    <%= image_tag 'inside.jpg', class:'e-image' %>
    <div class="e-description">
      <div class="e-name">
        Inside Condition</br>
        <span style="font-size:15px;">Embed Stabilizer Kit</span>
      </div>
      <div class="e-price">
        $35.00
      </div>
    </div>
  </a>
</div>

</div>

</div>
<%= render '/layouts/footer.html.erb'%>
