<div class="product-index-container">

  <%= render '/products/alt_nav.html.erb'%>

  <div class="products-title">
    EASY EMBEDS
  </div>
  <div class="embeds-desc" id="startchange">
    Lorem ipsum dolor sit amet, ius cu quot vide eruditi, partem populo signiferumque ne vel. Ei sea vocent periculis. Id eam congue utamur accommodare. Vis at tantas conceptam, nam ad dico legimus. Ex vis nibh audiam, nec porro deterruisset at. Facer
    vidisse placerat vim ex, rebum minim eligendi sea te, vix eu quem everti percipitur. In sea vidit nihil diceret, mollis perpetua vituperata no qui. Eum at movet labitur. Tollit audire eu his, usu ei postea mnesarchum. Duis omnes dolore id per. Ignota
    epicuri liberavisse in nec. Quo id quis consectetuer.
  </div>
  <div class="item-container">
    <% flash.each do |name,msg| %>
    <%= content_tag :div, msg, :id => "flash", class: 'flash-message' %>
    <%end%>
    <div class="product-container">
      <% @products.each do |product|%>
      <div class="embed-index-item">
        <%= link_to "/products/embeds/#{product.id}" do %>
        <%= image_tag "#{product.img_file}.jpg", {:class => "embed_picture"}%>
        <p class="product-name"><%= product.name %>(in)</p>
        <p class="product-sub">Stud:
          <%=product.stud_length %>in x
          <%= product.stud_thickness %>in</p>
        <p class="product-sub"><%= number_to_currency(product.price.to_i)%></p>
        <%end%>
      </div>
      <%end%>
    </div>

  </div>
</div>

<%= render '/layouts/alt_footer.html.erb'%>
