<%= render 'layouts/nav_bar.html.erb' %>
<div class="products-page-container">
<%= image_tag 'Easy_Embeds.png' %>
<%= image_tag 'chairs_logo.png' %>
<%= image_tag 'studs_logo_main.png' %>
</div>
<%= render 'layouts/footer.html.erb' %>
