<%= render '/layouts/nav_bar.html.erb'%>
<div class="view-header">
  <%= image_tag "slab.jpg" %>
  <div class="view-title">
    <%= @product.name %>
  </div>
</div>

<% flash.each do |name,msg| %>
<%= content_tag :div, msg, :id => "flash", class: 'flash-message' %>
<%end%>
<div class="product-view">
  <%= image_tag "#{@product.img_file}.jpg", {:class => "product-view-picture"}%>
<div class="product-view-info">
  <p class="product-price"><%= number_to_currency(@product.price)%></p>

  <p class="product-name-sub">

  </p>
  <div class="product-info">

    <p class="product-dimensions">
</br>
Never have out of place embeds again!

<%= @product.info_2 %>
</br></br>

</br>
</p>

    </div>
    <%= form_for :order_item, :url => add_to_cart_path(product_id: @product.id) do |f| %>
    <p class="quantity">
    <%= f.number_field :quantity, min: 1, placeholder: "QTY", class:"quantity-dropdown"%>
    <%= f.submit "ADD TO CART", class:"add-to-cart"%></p>
    <%end%>
    </div>
    </div>

<%= render '/layouts/footer.html.erb'%>
