<%= render '/layouts/nav_bar.html.erb'%>


<div class="product-index-container" style="margin-top:100px;">



    <% flash.each do |name,msg| %>
    <%= content_tag :div, msg, :id => "flash", class: 'flash-message' %>
    <%end%>

<div class="studs-header">
  <%= image_tag 'studs_logo.png', class:'index-title-image-studs' %>
  <div class="studs-block">
    <%= image_tag 'studs_name.png' %>
    <div class="studs-desc">
Standard Studs have changed the way light gauge studs and tracks are purchased today by creating the first online store catering to metal framers. Customers now have the ability to order studs and tracks measured to the exact length required saving valuable time and cutting down on waste. Also exclusive to Standard Studs is our Accu-Dimple technology which places a dimple within the tracks according to spacing requirements as well as at the ends of studs. Accu-Dimple allows for precise placement of studs within tracks resulting in perfect computer-controlled dimensions every time. If you would like to receive an estimate, please upload your plans here.
 </div>
  </div>
</div>


    <div class="product-container" style="margin-top:0px;">
      <% @Studs.each do |product|%>
      <div class="embed-index-item">
        <%= link_to "/products/studs/#{product.id}" do %>
        <div class="image-container">
          <%= image_tag "#{product.img_file}.jpg", {:class => "chair_picture"}%>
        </div>
        <p class="product-name"><%= product.name %> </p>
        <p class="product-sub">
        <%= product.info_1 %></p>
        <%end%>
      </div>

      <%end%>
    </div>
    <div class="stud-title">
      STANRDARD TRACKS
    </div>
    <div class="product-container">
      <% @Tracks.each do |product|%>
      <div class="embed-index-item">
        <%= link_to "/products/tracks/#{product.id}" do %>
        <div class="image-container">
          <%= image_tag "Track.jpg", {:class => "chair_picture"}%>
        </div>
        <p class="product-name"><%= product.name %> </p>
        <p class="product-sub">
        <%= product.info_1 %></p>
        <%end%>
      </div>

      <%end%>
    </div>
</div>

<div class="panels">
<div class="area">
  <div class="p-icon">
    <i class="fa fa-trophy fa-3x" aria-hidden="true"></i>
  </div>
<div class="p-name">
QUALITY GUARANTEED
</div>


</div>
<div class="area">
  <div class="p-icon">
    <i class="fa fa-bus fa-3x" aria-hidden="true"></i>
  </div>
<div class="p-name">
ON SITE DELIVERY
</div>


</div>
<div class="area">
  <div class="p-icon">
    <i class="fa fa-lock fa-3x" aria-hidden="true"></i>
  </div>
<div class="p-name">
SECURE PAYMENT
</div>


</div>
</div>

<%= render '/layouts/footer.html.erb'%>
