<%= render '/layouts/nav_bar.html.erb'%>
<% flash.each do |name,msg| %>
<%= content_tag :div, msg, :id => "flash", class: 'flash-message' %>
<%end%>
<div class="product-view">
<div class="img-change" id="img-change" style="width:40%" name="picture">
  <%= image_tag 'Track_2.jpg', class:'product-view-picture-chairs', id:'myImageId2' %>
  <%= image_tag 'Track.jpg', class:'product-view-picture-chairs-alt', id:'myImageId' %>

</div>
<div class="product-view-info">


  <p class="product-name-sub">
    STANDARD STUDS
  </p>
  <div class="product-info">
    <p class="product-dimensions-head">
      Description
    </p>
    <p class="product-dimensions">
      <%=@product.name%>
      <div class="" style="text-align:justify;">
        <%= @product.info_1 %>
      </div>
    </p>

    <span id='Totprice2'>Individual Stud Total is: $0.00</span>
  </br>
    PRICE Pending Length (ft,in)
    <input type = "text" id = "Totprice" hidden> <br>


</div>

<div class="order_item_form">

<%= form_for :order_item, :url => add_to_cart_path(product_id: @product.id), :html => {:name => "form1"} do |f| %>
<div class="quantity-box">
  <div class="qa">
    <p>Quantity</p>
    <%= f.number_field :quantity, min: 1, placeholder: "QTY", class:"quantity-dropdown"%>
  </div>

  <div class="qa">
    <p>Feet</p>
    <%= f.number_field :length,min: 0,placeholder: "(ft)", id:'length', onChange:'update()',class:"quantity-dropdown"%>
  </div>

  <div class="qa">
    <p>Inches</p>
    <%= f.number_field :length_inch,min: 0,placeholder: "(in)", id:'length_inch', onChange:'update()',class:"quantity-dropdown" %>
  </div>
  <div class="qa">
    <p>
      Dimple?
    </p>
    <input type="checkbox" onClick="document.getElementById('dimple-options').style.visibility=(this.checked)?'visible':'hidden';" name="name" value="">
  </div>

<div id="dimple-options" style="visibility:hidden">
  <div class="qa">
    <p>
      16" dimple
    </p>
    <%= f.radio_button(:dimple, '16"', options={name:"check", onClick:"document.getElementById('myImageId').style.visibility=(this.checked)?'hidden':'visible';document.getElementById('myImageId2').style.visibility=(this.checked)?'visible':'hidden';
"}) %>
  </div>
  <div class="qa">
    <p>24" dimple </p>
    <%= f.radio_button(:dimple, '24"', options={name:"check", onClick:"document.getElementById('myImageId').style.visibility=(this.checked)?'hidden':'visible';document.getElementById('myImageId2').style.visibility=(this.checked)?'visible':'hidden';
"}) %>

  </div>
</div>

</div>
<%= f.submit "ADD TO CART", class:"add-to-cart"%>
<%end%>
</div>
<img src="" alt="" />

</div>
</div>

<%= render '/layouts/footer.html.erb'%>

<%= javascript_tag do %>
function update(){
var feet=document.getElementById("length").value;
var inches=document.getElementById("length_inch").value;
var price = ((feet * <%= @product.ppf %>) + (<%= @product.ppi%> * inches)).toFixed(2);

document.getElementById("Totprice").value = price;
document.getElementById("Totprice2").innerHTML = "Individual Stud Total Is: <strong>$" + price + "</strong>";
}
<%end%>
