

<ul class="topnav" id="myTopnav">
  <li><%= link_to root_path do%><%=image_tag "logo.jpg"%> <%end%></li>
  <li><%= link_to "Easy Embeds", products_path%></li>
  <li><%= link_to "Colored Chairs", chairs_path%></li>
  <li><%= link_to "Tiger Tracks", beams_path%></li>
  <li><%= link_to "Plan Upload/Custom Order"%></li>
  <li><%= link_to "Sign In", new_user_session_path%></li>
  <li><%= link_to "View Cart", cart_path %></li>
  <li class="icon">
    <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
  </li>
</ul>


<script>
function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "topnav") {
      x.className += " responsive";
  } else {
      x.className = "topnav";
  }
}
</script>
