<div class="nav" id="navbar">
  <p class="nav-logo">
    <%= link_to root_path do%><%=image_tag "logo.jpg"%> <%end%>
  </p>
  <div class="nav-items">

    <%= link_to "Easy Embeds", products_path, class:'nav-item-a'%>
    <%= link_to "Colored Chairs", chairs_path, class:'nav-item-a'%>
    <%= link_to "Tiger Tracks", beams_path, class:'nav-item-a'%>

    <%= link_to "Plan Upload/Custom Order", new_message_path, class:'nav-item-b' %>

    <% if user_signed_in? %>
    <div class="dropdown">
      <button class="dropbtn"><%= current_user.email %>
        <i class="fa fa-chevron-down" aria-hidden="true"></i>
      </button>
      <div class="dropdown-content" id="myDropdown">
        <%= link_to orders_path do %>
        <i class="fa fa-list-alt" aria-hidden="true"></i>
        ORDERS
        <%end%>
        <%= link_to destroy_user_session_path, :method => "delete" do %>
        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
        SIGN OUT
        <%end %>
      </div>
    </div>

    <%else%>
    <%= link_to "Sign In", new_user_session_path, class:'nav-item-a' %>
    <%end%>
    <%= link_to cart_path do %>
    View Cart <i class="fa fa-shopping-cart" aria-hidden="true" id='cart-nav'></i>
    <%end%>
  </div>
</div>
